@import "tailwindcss";

@theme {
  --font-Poppins: "Poppins", "sans-serif";
  --font-Roboto: "Roboto", "sans-serif"; 
  --primary: ""
}

.nav-link{
  @apply text-sm font-medium no-underline hover:bg-teal-100/20 transition-colors duration-300 px-3 py-2 rounded-lg
}

.card{
  @apply bg-slate-50 rounded-xl p-6 shadow-md
}

/* Tambahkan di file CSS Anda */
.leaflet-popup.persistent-popup {
  pointer-events: auto !important;
}

.leaflet-popup-content-wrapper {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(5px);
  padding : 1px;
}

.leaflet-popup-tip {
  background: rgba(255, 255, 255, 0.9);
}

/* styles/globals.css */
.leaflet-container {
  background: #f8f9fa !important;
  outline: 0;
}

.leaflet-map-pane {
  will-change: auto !important;
}

.leaflet-popup {
  transition: opacity 0.3s;
}

.persistent-popup .leaflet-popup-content-wrapper {
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(2px);
  border-radius: 6px;
  padding: 1px;
  box-shadow: 0 1px 6px rgba(0,0,0,0.15);
  min-width: 100px;
  height: 50px
}

.persistent-popup .leaflet-popup-content {
  margin: 0;
  line-height: 0;
  margin-top: -8px;
  margin-left: 5px;
}

@keyframes modalPop {
  0% { opacity: 0; transform: scale(0.95) translateY(30px); }
  100% { opacity: 1; transform: scale(1) translateY(0); }
}
.animate-modalPop {
  animation: modalPop 0.25s cubic-bezier(0.4,0,0.2,1);
}